.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #411b1b;
    height: 100px;
}

.logo-side {
    & > img {
        margin: 5px 0 0 30px;
        width: 120px;
        height: 110px;
    }
}

.buttons-side{
    position: relative;
    right: 5%;
}

a{
    text-decoration: none;
    color:black;
}

